.vscode
.ipynb_checkpoints
**/__pycache__
*.npy
*.out
*.png
experiments/FSC/coso.sh
experiments/FSC/temp.py
experiments/FSC/tmp.sh
experiments/FSC/TODO.txt
experiments/FSC/utils.py
experiments/FSC/results/modelBased/M1/celani/fine5/scemo.py
experiments/FSC/celaniData/thetaLoroM2.txt
experiments/FSC/piClose.sh
experiments/FSC/runFree.sh
experiments/FSC/runTDLambda.sh
experiments/FSC/scemo.sh
experiments/FSC/RICORDA
experiments/FSC/toCheck
experiments/FSC/robe.ipynb
